@{
    ViewData["Title"] = "Výdaje";
}
@model BudgetTrackingApp.Models.HomepageModel
<h1 class="text-center">Výdaje</h1>
<div class="text-center" id="parent-div">
    <section>
        <form asp-controller="Home" asp-action="AddExpense" method="post">
            <div class="text-center form-row">
                <input class="form-control" name="amount" type="number" placeholder="Částka"/>
                <input autocomplete="off" id="description" class="form-control " name="description" placeholder="Popis výdaje"/>
            </div>
            <div class="text-center form-row">
                <select name="categoryId" class="form-control">
                    @foreach (var categoryId in Model.Categories.Keys)
                    {
                        <option value="@categoryId">@Model.Categories[categoryId]</option>
                    }
                </select>
                <input type="date" class="form-control" name="date" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
            </div>
            <div class="text-center">
                <input style="width: 80%" hx-post="/Home/Addexpense" hx-target="body" hx-swap="innerHTML" type="submit" name="submit" value="Přidat"/>
            </div>

            <div class="text-center">
                Celkové výdaje: <b>@Model.Total</b> Kč
                Za rok: <b>@Model.YearlyTotal</b> Kč
            </div>

            <div class="text-center">
                Za měsíc: <b>@Model.MonthlyTotal</b> Kč
                Za týden: <b>@Model.WeeklyTotal</b> Kč
            </div>
        </form>
    </section>
</div>